<div class="container">
<p id="notice"><%= notice %></p>
<a href="/movies">
    <h4>Back to Movies</h4>
</a>
<table class="table">
<thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>release_date</th>
        <th>genre</th>
        <th>MPAA_rating</th>
        <th>Budget</th>
    </tr>
</thead>

<tbody>
    <tr>
        <td><%= @movie.id %></td>
        <td><%= @movie.name %></td>
        <td><%= @movie.release_date %></td>
        <td>
           <% @genres.each do |genre| %>
             <% if genre == @genres[-1] %>
               <%= link_to genre.genre_name, genre.genre_name %>
             <%else%>
               <%= link_to genre.genre_name, genre.genre_name + ',' %>
             <%end%>
          <%end%>
        </td>
        <td><%= @movie.MPAA_rating %></td>
        <td><%= convert_to_dollars(@movie.budget) %></td>
    </tr>
</tbody>
</table>
</div>
