<div class="container">
<p id="notice"><%= notice %></p>
<a href="/movies">
    <h4>Back to Movies</h4>
</a>
<table class="table">
<thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>release_date</th>
        <th>genre</th>
        <th>MPAA_rating</th>
        <th>Budget</th>
        <% if @movie.budget != 0%>
           <th>Total Gross</th>
           <th>Profit Margin</th>
        <%end%>
    </tr>
</thead>

<tbody>
    <tr>
        <td><%= @movie.id %></td>
        <td><%= @movie.name %></td>
        <td><%= @movie.release_date %></td>
        <td>
           <% @genres.each do |genre| %>
             <% if genre == @genres[-1] %>
                <%= link_to genre.genre_name, genre %>
             <%else%>
                <%= link_to genre.genre_name + ',', genre %>
             <%end%>
          <%end%>
        </td>
        <td><%= @movie.MPAA_rating %></td>
        <td><%= convert_to_dollars(@movie.budget) %></td>
        <% if @movie.budget != 0 %>
           <td><%= convert_to_dollars(@movie_gross.last) %></td>
           <td>
              <% if @movie.budget > @movie_gross.last %>
               <span style="color:red">
                  -<%= (Float(@movie_gross.last)/Float(@movie.budget)).round(2) %>%
               </span>
              <%else%>
              <span style="color:green">
                 +<%= (Float(@movie_gross.last)/Float(@movie.budget)).round(2) %>%
              </span>
              <%end%>
           </td>
        <%end%>
    </tr>
</tbody>
</table>

<div class="ct-chart ct-perfect-fourth"></div>
</div>
<script type="text/javascript">
// Our labels and three data series

  var x_axis = <%=raw @days%>;
  var y_axis = <%=raw @movie_gross%>;
  var budget = <%=raw @movie.budget%>;
  console.log(x_axis);
  console.log(y_axis);
  var data;
  console.log(x_axis.length);
  if(budget == 0)
  {
     data = {
     labels: x_axis,
        series: [
          y_axis
      ]
   };
 }
 else
 {
    var budget_array = [];
    for(var i = 0; i < y_axis.length; i++)
    {
      budget_array.push(budget);
   }
    data = {
     labels: x_axis,
      series: [
          y_axis,
          budget_array
     ]
   };
 }

// We are setting a few options for our chart and override the defaults
var options = {
  // Don't draw the line chart points
  showPoint: false,
  // Disable line smoothing
  lineSmooth: false,
  // X-Axis specific configuration
  axisX: {
    // We can disable the grid for this axis
    showGrid: false,
    // and also don't show the label
    showLabel: true
  },
  // Y-Axis specific configuration
  axisY: {

    labelInterpolationFnc: function(value) {
      return  "$"+ value;
    }
  }
};

// All you need to do is pass your configuration as third parameter to the chart function
new Chartist.Line('.ct-chart', data, options);
</script>
