<div class="container">
<p id="notice"><%= notice %></p>
<a href="/movies">
    <h4>Back to Movies</h4>
</a>
<table class="table">
<thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>release_date</th>
        <th>genre</th>
        <th>MPAA_rating</th>
        <th>Budget</th>
    </tr>
</thead>

<tbody>
    <tr>
        <td><%= @movie.id %></td>
        <td><%= @movie.name %></td>
        <td><%= @movie.release_date %></td>
        <td>
           <% @genres.each do |genre| %>
             <% if genre == @genres[-1] %>
                <%= link_to genre.genre_name, genre %>
             <%else%>
                <%= link_to genre.genre_name + ',', genre %>
             <%end%>
          <%end%>
        </td>
        <td><%= @movie.MPAA_rating %></td>
        <td><%= convert_to_dollars(@movie.budget) %></td>
    </tr>
</tbody>
</table>
    <div class="ct-chart ct-perfect-fourth"></div>

    </div>
<script type="text/javascript">
// Our labels and three data series

  var x_axis = <%=raw @days%>;
  var y_axis = <%=raw @movie_gross%>;

  var data = {
   labels: x_axis,
     series: [
        y_axis
    ]
 };


// We are setting a few options for our chart and override the defaults
var options = {
  // Don't draw the line chart points
  showPoint: false,
  // Disable line smoothing
  lineSmooth: false,
  // X-Axis specific configuration
  axisX: {
    // We can disable the grid for this axis
    showGrid: false,
    // and also don't show the label
    showLabel: true
  },
  // Y-Axis specific configuration
  axisY: {
    // Lets offset the chart a bit from the labels
    offset: 500,
    // The label interpolation function enables you to modify the values
    // used for the labels on each axis. Here we are converting the
    // values into million pound.
    labelInterpolationFnc: function(value) {
      return  value;
    }
  }
};

// All you need to do is pass your configuration as third parameter to the chart function
new Chartist.Line('.ct-chart', data, options);
</script>
