<div class="container">
<a href="/"><h4>Back To Main</h4></a>
<p id="notice"><%= notice %></p>

<h1>Listing Tweets</h1>

<table>
  <thead>
    <tr>
        <th>id</th>
        <th>number_of_favorites</th>
        <th>number_of_retweets</th>
        <th>number_of_tweets</th>
        <th>keyword_id</th>
        <th>date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
          <td><%= tweet.id %></td>
          <td><%= tweet.number_of_favorites %></td>
          <td><%= tweet.number_of_retweets %></td>
          <td><%= tweet.number_of_tweets %></td>
          <td><%= tweet.keyword_id %></td>
          <td><%= tweet.date %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Tweet', new_tweet_path %> -->
</div>
