<div class="container">
    <a href="/">
        <h4>Back To Main</h4>
    </a>
    <p id="notice"><%= notice %></p>

    <h1>Listing Keywords</h1>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>movie_id</th>
                <th>keyword_phrase</th>
                <th>is_hash_tag</th>
                <th colspan="1"></th>
            </tr>
        </thead>

        <tbody>
            <% @keywords.each do |keyword| %>
            <tr>
                <td><%= keyword.id %></td>
                <td>
                    <a href="/movies/<%= keyword.movie_id %>"><%= keyword.movie_id %></a>
                </td>
                <td><%= keyword.keyword_phrase %></td>
                <td><%= keyword.is_hash_tag %></td>
                <td><%= link_to 'Show', keyword %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <br>
</div>
