<div class="container">
    <p id="notice"><%= notice %></p>
        <h1>Keyword, Movie $$$ Graph</h1>

    <a href="/keywords">
        <h4>Back to Keywords</h4>
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Keyword Phrase</th>
                <th>Movie ID</th>
                <th>Movie Name</th>

            </tr>
        </thead>

        <tbody>
            <tr>
                <td><%= @keyword.keyword_phrase %></td>
                <td>
                    <a href="/movies/<%= @keyword.movie_id %>"><%= @keyword.movie_id %></a>
                </td>
                <td>
                <% movie = Movie.find(@keyword.movie_id) %>
                    <a href="/movies/<%= @keyword.movie_id %>"><%= movie.name %></a>
                </td>
            </tr>
        </tbody>
    </table>
<p>keyword_id<%= @keyword_id %></p>
<p>days<%= @days %></p>

    <div class="ct-chart ct-perfect-fourth"></div>
</div>
<% tweets = Tweet.find_by(keyword_id: @keyword.id) %>
<script type="text/javascript">
// Our labels and three data series

  var x_axis = <%=raw @days%>;
  var y_axis = <%=raw @tweets_total%>;
  var y_axis2 = <%=raw @tweets_retweets%>;

  var data = {
   labels: x_axis,
     series: [
        y_axis,
        y_axis2
   ]
 };


// We are setting a few options for our chart and override the defaults
var options = {
  // Don't draw the line chart points
  showPoint: false,
  // Disable line smoothing
  lineSmooth: false,
  // X-Axis specific configuration
  axisX: {
    // We can disable the grid for this axis
    showGrid: false,
    // and also don't show the label
    showLabel: true
  },
  // Y-Axis specific configuration
  axisY: {
    // Lets offset the chart a bit from the labels
    offset: 500,
    // The label interpolation function enables you to modify the values
    // used for the labels on each axis. Here we are converting the
    // values into million pound.
    labelInterpolationFnc: function(value) {
      return  value;
    }
  }
};

// All you need to do is pass your configuration as third parameter to the chart function
new Chartist.Line('.ct-chart', data, options);
</script>
