<div class="container">
    <p id="notice"><%= notice %></p>
        <h1>Keyword, Movie $$$ Graph</h1>

    <a href="/keywords">
        <h4>Back to Keywords</h4>
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Keyword Phrase</th>
                <th>Movie ID</th>
                <th>Movie Name</th>

            </tr>
        </thead>

        <tbody>
            <tr>
                <td><%= @keyword.keyword_phrase %></td>
                <td>
                    <a href="/movies/<%= @keyword.movie_id %>"><%= @keyword.movie_id %></a>
                </td>
                <td>
                <% movie = Movie.find(@keyword.movie_id) %>
                    <a href="/movies/<%= @keyword.movie_id %>"><%= movie.name %></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
